body {
  width: 100%;
}

#App {
  margin: auto;
  width: 90%;
}

#boardContainer {
  text-align: center;
  width: 100%;
}

#headingContainer {
  text-align: center;
  width: 100%;
}

#controlContainer {
  padding-top: 10px;
  width: 100%;
  margin: auto;
}

#gameControls {
  width: 100%;
  margin: auto;
  text-align: center;
}

#controlContainer {
  width: 80%;
}

button {
  background-color: SteelBlue;
  color: white;
  border: none;
  padding: 5px;
  margin: 10px;
}

button:hover {
  color: black;
}

#Player1 {
  width: 40%;
  float: left;
}

#Player2 {
  width: 40%;
  float: right;
}
